<div class="left">
    <a href="/admin/banner" class="mt-3">Banner managemant</a>
    <a href="/admin/servies" class="mt-3">Servies managemant</a>
    <a href="/admin/testimoniyal" class="mt-3">Testimoniyal managemant</a>
    <a href="/admin/query" class="mt-3">Query managemant</a>

    <h2 style="text-align: center;color: yellowgreen;font-size: 2rem;padding: 10px 70px 0 0;">
        User login
    </h2>

    <a href="/admin/userlogin" class="mt-3">User login managemant</a>
</div>